body {
    padding: 0;
    margin: 0;
}

.baeder {
    margin: 0 auto;
    text-align: center;
}

.div-icon {
    position: absolute;
    font-size: 22px;
    left: 0;
    right: 0;
    text-align: center;
}

.container {
    width: 100%;
}

.item {
}

.list-item {
}

#mapid {
    width: 70%;
    height: 90%;
    position: absolute;
    top: 0;
}
